*{
    margin: 0;
    padding: 0;
}

.container .search{
    width: 80%;
    margin: 5% auto;
}
.container .search *{
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
}
.container .search input{
    width: 80%;
}

.container .search .addBtn{
    width: 10%;
    float: right;
}

.container .table{
    width: 80%;
    margin: 5% auto;
    padding: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
}
.container .table tr *{
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    text-align: center;
}
.container .table tr{
    border: 1px solid black;
}

.addBtn:hover{
    cursor: pointer;
}